0.1.1 1. Statistics with Pandas:

In [27]:
import pandas as pd
import numpy as np
import os

1.1. Read data into a DataFrame:

In [67]:
df = pd.read_csv('data_iris.csv', header='infer')

In [29]:
df.shape

(150, 5)

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Sepal.Length  150 non-null    float64
 1   Sepal.Width   150 non-null    float64
 2   Petal.Length  150 non-null    float64
 3   Petal.Width   150 non-null    float64
 4   Species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [31]:
df.head(3)

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa

In [32]:
df.tail(3)

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

1.2. Statistics using DataFrame methods:

In [38]:
# Column averages.
#df.mean(axis=0)

print("Loại dữ liệu của các cột:")
print(df.dtypes)
# Chọn các cột số
numeric_df = df.select_dtypes(include=[np.number])
# Tính trung bình của các cột số
column_means = numeric_df.mean(axis=0)
# In kết quả
print("Trung bình của các cột số:")
print(column_means)

Loại dữ liệu của các cột:
Sepal.Length    float64
Sepal.Width     float64
Petal.Length    float64
Petal.Width     float64
Species          object
dtype: object
Trung bình của các cột số:
Sepal.Length    5.843333
Sepal.Width     3.057333
Petal.Length    3.758000
Petal.Width     1.199333
dtype: float64

In [39]:
# Descriptive statistics.
df.describe()

       Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [40]:
 # Correlation.
df.loc[:,'Sepal.Length'].corr(df.loc[:,'Sepal.Width'])

-0.11756978413300208

In [41]:
# Correlation.
df.loc[:,'Sepal.Length'].corr(df.loc[:,'Petal.Length'])

0.8717537758865831

In [46]:
# Correlation matrix.
#np.round(df.corr(),3)

numeric_df = df.select_dtypes(include=[np.number])
correlation_matrix = np.round(numeric_df.corr(), 3)
correlation_matrix

              Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
Sepal.Length         1.000       -0.118         0.872        0.818
Sepal.Width         -0.118        1.000        -0.428       -0.366
Petal.Length         0.872       -0.428         1.000        0.963
Petal.Width          0.818       -0.366         0.963        1.000

In [63]:
# Correlation with respect to one variable (column).
#df.corrwith(df.loc[:,'Petal.Length'])
numeric_df = df.select_dtypes(include=[np.number])
if 'Petal.Length' in numeric_df.columns:
    # Tính toán ma trận tương quan với biến cụ thể 'Petal.Length'
    correlation_with_petal_length = numeric_df.corrwith(numeric_df['Petal.Length'])
    # In kết quả
    print("Tương quan với biến 'Petal.Length':")
    print(correlation_with_petal_length)
else:
    print("Cột 'Petal.Length' không có trong DataFrame.")

Tương quan với biến 'Petal.Length':
Sepal.Length    0.871754
Sepal.Width    -0.428440
Petal.Length    1.000000
Petal.Width     0.962865
dtype: float64

1.3. Slice and then apply a statistic method:

In [70]:
#df[df.Species=='setosa'].mean(axis=0)
# Lọc dữ liệu để chỉ lấy các hàng có Species là 'setosa'
setosa_df = df[df['Species'] == 'setosa']
numeric_columns = setosa_df.select_dtypes(include=[np.number])
# Tính trung bình của các cột số trong DataFrame đã lọc
mean_setosa = numeric_columns.mean()
# In kết quả
print("Trung bình của các cột số cho Species 'setosa':")
print(mean_setosa)

Trung bình của các cột số cho Species 'setosa':
Sepal.Length    5.006
Sepal.Width     3.428
Petal.Length    1.462
Petal.Width     0.246
dtype: float64

In [73]:
#df[df.Species=='virginica'].mean(axis=0)
virginica_df = df[df['Species'] == 'virginica']
numeric_columns = virginica_df.select_dtypes(include=[np.number])
mean_virginica = numeric_columns.mean()
print("Trung bình của các cột số cho Species 'virginica':")
mean_virginica

Trung bình của các cột số cho Species 'virginica':

Sepal.Length    6.588
Sepal.Width     2.974
Petal.Length    5.552
Petal.Width     2.026
dtype: float64

In [74]:
#df[df.Species=='versicolor'].mean(axis=0)
versicolor_df = df[df['Species'] == 'versicolor']
numeric_columns = versicolor_df.select_dtypes(include=[np.number])
mean_versicolor = numeric_columns.mean()
print("Trung bình của các cột số cho Species 'versicolor':")
mean_versicolor

Trung bình của các cột số cho Species 'versicolor':

Sepal.Length    5.936
Sepal.Width     2.770
Petal.Length    4.260
Petal.Width     1.326
dtype: float64

Frequency table:

In [75]:
df.Species.value_counts()

Species
setosa        50
versicolor    50
virginica     50
Name: count, dtype: int64

0.1.2 2. Missing values:

First of all, we purposefully enter the missing values:

In [76]:
df.iloc[10,0] = np.nan
df.iloc[2,2] = np.nan
df.iloc[17,2] = np.nan
df.iloc[2,3] = np.nan
df.iloc[129,2] = np.nan

In [77]:
df.head(3)

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           NaN          NaN  setosa

2.1. Statistics of the missing values:

In [78]:
# Count non-missing values per column.
df.count(axis=0)

Sepal.Length    149
Sepal.Width     150
Petal.Length    147
Petal.Width     149
Species         150
dtype: int64

In [80]:
# Calculate the averages skipping the missing values.
df.drop(columns='Species').mean(axis=0) 
#'Species' column is left out.

Sepal.Length    5.846309
Sepal.Width     3.057333
Petal.Length    3.776871
Petal.Width     1.206040
dtype: float64

In [81]:
# Try to calculate the averages without skipping the missing values. => NaNs appear!
df.drop(columns='Species').mean(axis=0, skipna=False) 
#'Species' column is left out.

Sepal.Length         NaN
Sepal.Width     3.057333
Petal.Length         NaN
Petal.Width          NaN
dtype: float64

2.2. Detect and process the missing values:

In [82]:
# Count the missing values per column.
(df.isnull()).sum(axis=0)

Sepal.Length    1
Sepal.Width     0
Petal.Length    3
Petal.Width     1
Species         0
dtype: int64

In [84]:
# Proportion of missing values per column.
(df.isnull()).mean(axis=0)

Sepal.Length    0.006667
Sepal.Width     0.000000
Petal.Length    0.020000
Petal.Width     0.006667
Species         0.000000
dtype: float64

In [85]:
# Drop the rows with at leat one missing value.
df2 = df.dropna(axis=0)

In [86]:
df2.shape

(146, 5)

In [87]:
df2.head(3)

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa

In [88]:
# Drop the rows with less than 4 normal values.
df2 = df.dropna(axis=0, thresh = 4)
df2.shape

(149, 5)

In [89]:
# Drop the columns with at least one missing value.
df3 = df.dropna(axis=1)
df3.shape

(150, 2)

In [90]:
df3.head(3)

   Sepal.Width Species
0          3.5  setosa
1          3.0  setosa
2          3.2  setosa

In [91]:
# Drop the columns with less than 149 normal values.
df3 = df.dropna(axis=1, thresh = 149)
df3.shape

(150, 4)

In [92]:
df3.head(3)

   Sepal.Length  Sepal.Width  Petal.Width Species
0           5.1          3.5          0.2  setosa
1           4.9          3.0          0.2  setosa
2           4.7          3.2          NaN  setosa

2.3. Fill the missing values:

In [93]:
# Fill the missing values with 0.
df4 = df.fillna(value=0)
df4.count() # axis=0 by default.

Sepal.Length    150
Sepal.Width     150
Petal.Length    150
Petal.Width     150
Species         150
dtype: int64

In [94]:
# Fill the missing values using column averages.
df['Sepal.Length'] = df['Sepal.Length'].fillna(value=df['Sepal.Length'].mean())
df['Petal.Length'] = df['Petal.Length'].fillna(value=df['Petal.Length'].mean())
df['Petal.Width'] = df['Petal.Width'].fillna(value=df['Petal.Width'].mean())
df.count() # axis=0 by default.

Sepal.Length    150
Sepal.Width     150
Petal.Length    150
Petal.Width     150
Species         150
dtype: int64

In [95]:
df.head(3)

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5      1.400000      0.20000  setosa
1           4.9          3.0      1.400000      0.20000  setosa
2           4.7          3.2      3.776871      1.20604  setosa