0.1.1 1. Conditional structure:

In [3]:
x = input("How old are you? ")
x = int(x)
if x < 8:
    print(str(x) + " years old... You are a bit too young.")
elif 8 <= x < 19:
    print(str(x) + " years old... You must be a student.")
else:
    print("You are all grown up!")

How old are you?  19

You are all grown up!

In [1]:
x = input("How much is 2*3? ")
x = int(x)
if x == 2*3 :
    print( "Correct.")
else:
    print( "Incorrect")

How much is 2*3?  8

Incorrect

In [2]:
x = input("How much is 2*3? ")
x = int(x)
if x !=2*3 :
    print( "Incorrect")
else:
    print( "Correct.")

How much is 2*3?  8

Incorrect

In [4]:
x = input("How much is 2*3? ")
x = int(x)
y = ( x == 2*3) # A Boolean statement.
if y:
    print( "Correct.")
else:
    print( "Incorrect")

How much is 2*3?  8

Incorrect

0.1.2 2. Loop structure:
2.1. For loops:

In [5]:
sum = 0
for x in range(1, 11):
    sum += x
print("Sum from 1 to 10 = " + str(sum))

Sum from 1 to 10 = 55

In [6]:
sum = 0
for x in range(2,101,2):
    sum += x
print("Sum of even numbers from 2 to 100 = " + str(sum))

Sum of even numbers from 2 to 100 = 2550

In [7]:
 sum = 0
for x in range(1,101):
    if ( x % 2 ==0):
        sum += x
print("Sum of even numbers between 1 and 100 = " + str(sum))

Sum of even numbers between 1 and 100 = 2550

In [8]:
 sum = 0
for x in range(1,101):
    if ( x % 2 !=0):
        sum += x
print("Sum of odd numbers between 1 and 100 = " + str(sum))

Sum of odd numbers between 1 and 100 = 2500

In [9]:
sum = 0
for x in range(1,101):
    if x % 5 == 0:
        sum += x
print("Sum of multiples of 5 between 1 and 100 = " + str(sum))

Sum of multiples of 5 between 1 and 100 = 1050

In [10]:
my_list = ['You', 'need', 'Python!']
for x in my_list:
    print(x)

You
need
Python!

In [12]:
 # Multiplication table.
# A 'for' loop within another.
for i in range(2,10):
    for j in range(2,10):
        print( "%1d * %1d = %2d " % ( i, j, i * j))

2 * 2 =  4
2 * 3 =  6
2 * 4 =  8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 * 2 =  6
3 * 3 =  9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 2 =  8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

2.2. While loops:

In [13]:
counter = 0
sum = 0
while counter < 11:
    sum += counter
    counter += 1
print("Sum of 1 through 10 = " + str(sum))

Sum of 1 through 10 = 55

In [15]:
counter = 0
sum = 0
while counter < 1001:
    if counter % 5 == 0:
        sum += counter
    counter += 1
print("Sum of multiples of 5 between 0 and 1000 = " + str(sum))

Sum of multiples of 5 between 0 and 1000 = 100500

In [16]:
# Multiplication table.
# A 'while' loop within another.
i = 1
while i < 9:
    i += 1
    j = 2
    while j < 10:
        print( "%1d * %1d = %2d " % ( i, j, i*j))
        j += 1

2 * 2 =  4
2 * 3 =  6
2 * 4 =  8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 * 2 =  6
3 * 3 =  9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 2 =  8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [17]:
# Multiplication table.
# A 'for' loop within a 'while' loop.
i = 1
while i < 9:
    i += 1
    for j in range(1,10):
        print( "%1d * %1d = %2d " % ( i, j, i*j))
        j += 1

2 * 1 =  2
2 * 2 =  4
2 * 3 =  6
2 * 4 =  8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 * 1 =  3
3 * 2 =  6
3 * 3 =  9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 1 =  4
4 * 2 =  8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 1 =  5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 * 1 =  6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 * 1 =  7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8 * 1 =  8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
9 * 1 =  9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81